@font-face {
	font-family: "Brandon Light";
	src: url("../fonts/font-webfont.woff2") format("woff2"),
		url("../../index.html") format("woff"); /*Sus tbh*/
	font-weight: normal;
	font-style: normal;
	/* credit to mehf for font idea, i stole it */
}

a {
	text-decoration: none;
	/* no underline */
}

img {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	filter: blur(0px) brightness(20%);
	pointer-events: none;
}

html {
	cursor: url("../medias/cursor.png"), default;
}

body {
	text-align: center;
	font-size: 20px;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none
}

.ascii {
	font-family: monospace;
	white-space: pre;
	font-size: 20px;
	text-align: center;
}


/* DEFAULT TEXT */
.clean {
	color: white;
	font-family: "Brandon Light"
}


/*  BUTTON */

html {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  font-size: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin:0;
  padding:0;
}
.mid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:1em;
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0;
  padding: 0;
  
}


/* Switch starts here */
.rocker {
  display: inline-block;
  position: relative;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}

.rocker-small {
  font-size: 0.75em; /* Sizes the switch */
  margin: 1em;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: #0084d0;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus + .switch-left {
  color: #333;
}

input:checked:focus + .switch-left {
  color: #fff;
}

input:focus + .switch-left + .switch-right {
  color: #fff;
}

input:checked:focus + .switch-left + .switch-right {
  color: #333;
}


.btn-xss {
	color: cyan;
	font-family: "Brandon Light";
	transition: 0.3s;
}

.btn-xss:hover {
	color: #57d0da !important;
}

.btn-github {
	color: cyan;
	font-family: "Brandon Light";
	transition: 0.3s;
}

.btn-github:hover {
	color: grey !important;
}

.btn-keybase {
	color: cyan;
	font-family: "Brandon Light";
	transition: 0.3s;
}

.btn-keybase:hover {
	color: red !important;
}




.rainbow {
	background-size: 800% 800%;
	background-clip: text;
	-webkit-background-clip: text;
	animation: rainbow 8s ease infinite;
	overflow: hidden;
}

@keyframes rainbow {
	0% {
		color: #e87d7d;
	}

	2% {
		color: #e88a7d;
	}

	4% {
		color: #e8977d;
	}

	6% {
		color: #e8a47d;
	}

	8% {
		color: #e8b07d;
	}

	10% {
		color: #e8bd7d;
	}

	12% {
		color: #e8ca7d;
	}

	14% {
		color: #e8d77d;
	}

	16% {
		color: #e8e47d;
	}

	18% {
		color: #dfe87d;
	}

	20% {
		color: #d3e87d;
	}

	22% {
		color: #c6e87d;
	}

	24% {
		color: #b9e87d;
	}

	26% {
		color: #ace87d;
	}

	28% {
		color: #9fe87d;
	}

	30% {
		color: #92e87d;
	}

	32% {
		color: #86e87d;
	}

	34% {
		color: #7de881;
	}

	36% {
		color: #7de88e;
	}

	38% {
		color: #7de89b;
	}

	40% {
		color: #7de8a8;
	}

	42% {
		color: #7de8b5;
	}

	44% {
		color: #7de8c1;
	}

	46% {
		color: #7de8ce;
	}

	48% {
		color: #7de8db;
	}

	50% {
		color: #7de8e8;
	}

	52% {
		color: #7ddbe8;
	}

	54% {
		color: #7dcee8;
	}

	56% {
		color: #7dc1e8;
	}

	58% {
		color: #7db5e8;
	}

	60% {
		color: #7da8e8;
	}

	62% {
		color: #7d9be8;
	}

	64% {
		color: #7d8ee8;
	}

	66% {
		color: #7d81e8;
	}

	68% {
		color: #867de8;
	}

	70% {
		color: #927de8;
	}

	72% {
		color: #9f7de8;
	}

	74% {
		color: #ac7de8;
	}

	76% {
		color: #b97de8;
	}

	78% {
		color: #c67de8;
	}

	80% {
		color: #d37de8;
	}

	82% {
		color: #df7de8;
	}

	84% {
		color: #e87de4;
	}

	86% {
		color: #e87dd7;
	}

	88% {
		color: #e87dca;
	}

	90% {
		color: #e87dbd;
	}

	92% {
		color: #e87db0;
	}

	94% {
		color: #e87da4;
	}

	96% {
		color: #e87d97;
	}

	98% {
		color: #e87d8a;
	}

	100% {
		color: #e87d7d;
	}
	
	
}
